include/list.h
include/my.h
include/network.h
include/code.h
include/logging_client.h
include/logging_server.h
myTeams
*.o
vgcore.*
coding-style-reports.log
.idea
test_ftp.sh
unit_tests*
myteams_*
data